#root {
  /* so the page appear full of body */
  width: 100vw;
  height: 100vh;
  background: #42275a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #734b6d,
    #42275a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #734b6d,
    #42275a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.clickable {
  cursor: pointer;
}

.link {
  cursor: pointer;
  color: #4b74ff;
}

.link:hover {
  text-decoration: underline;
}
